.me-pic-div{
    text-align: right;
}
.me-pic{
    height: 500px;
    border: 1px solid white;
    box-shadow: 5px 5px 5px rgb(59, 59, 59);
}
.my-info{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Times New Roman';
}
.my-header{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 25px;
}